<h1> Hello <%= @user.username%>! </h1>
<div class= "product">
<% if @user.admin? %>
    <h3>Top 3 most popular products: </h3>
    <ol> <% Product.top_three_products.each do |product, quantity|  %>
        <li><%= product.upcase %> was purchased <%= quantity %> times. </li> <br>
        <% end%>
    </ol>

    <h3>Highest paying customers:</h3>
    <ol> <% User.highest_paying_customers.each do |user, total|  %>
        <li><%= user.upcase %> has spent $<%= total %>. </li> <br>
        <% end%>
    </ol>

    <ul>
    <%= link_to 'View Recent Orders', orders_path %>
    </ul>
<%else %>
    <h3>Order History</h3>
    <% @user.orders.each do |order| %>
        <ul>
            <%= link_to order.created_at.strftime("%b-%d %l:%M %p"), order_path(order) %>   |   Total $<%= order.total %> <br></>
        </ul>
    <% end %>
<% end %>
</div>

