<h3> Hello <%= @user.username.capitalize! %>! </h3>

<h3>Order History</h3>
<% @user.orders.each do |order| %>
    <ul>
        <li><%= link_to order.created_at.strftime("%b-%d %l:%M %p"), order_path(order) %>   |   Total $<%= order.total %> <br></li>
    </ul>
<% end %>


<% if @user.admin? %>
    Most popular product: <% LineItem.most_popular.each do |line_item| %>
        <% product = Product.all.find_by_id(line_item.product_id) %>
    <ul>
        <li><%= product.name %> was purchased <%= line_item.quantity%> times. </li>
    </ul>
    <% end %>
<% end %>

