<h1>Healthy Dose Cafe</h1>
<div class= "display">
  <h3>Create A New Category</h3>
  <br>
  <%= render partial: '/layouts/errors', locals: {object: @category} %>

  <%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.submit %>
<% end %>
</div>