<h3>Create A New Category</h3>
<br>
<%= render '/layouts.errors', locals: {object: @category} %>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.submit %>
<% end %>