<h1><%=@category.name%> </h1> 
<div class= "display">
    <% @category.products.all.each do |p| %>
    <%= link_to p.name, product_path(p) %> $<%= p.price %> <br><br>
    <% end %>
    <br>
    <% if logged_in? && current_user.admin? %>
        <%= link_to 'ADD NEW PRODUCT', new_category_product_path(@category), method: :get %>
    <% end %>
    <%= flash[:notice] %>
</div>