<!DOCTYPE html>
<html>
  <head>
    <title>HealthyDoseCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <div> 
      <% if logged_in? %>
        <%= link_to 'Profile', user_path(current_user.id) %>
        <%= link_to 'Main Menu', categories_path %>
        <%= link_to 'View Cart', cart_path(current_user.id) %>
        <%= link_to 'Log Out', logout_path, method: :delete %>
      <% end %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
